
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<div>
    <label>Login</label>
    <input type="text" name="login"  id="login" />

    <label>Password</label>
    <input type="password" name="password"  id="password"/> 
</div>

<button onclick="crypt()">
    Crypt
</button>

<div id="cryptresults">

</div>

<script>
    function crypt() {
        console.log($("#login").val());
        $.post("/TestTask/TestEncryption", "Name=" + $("#login").val() + "&Password=" + $("#password").val(), function (data) {
            $("#cryptresults").append("<div> Password - " + data.Password + " Encrypt - " + data.Encrypt + "Descript - " + data.Decrypt + "</div>")
        })
    }
   
</script>

